<!--<h3>Tarea Desafio</h3>-->

<body>
    <header>
        <a href="#" class="logo">
            <img src="assets\images\logo.svg" class="logo-img">
        </a>
        <div>
            <nav>
                <a href="" class="nav.link">Home</a>
                <a href="" class="nav.link">New</a>
                <a href="" class="nav.link">Poular</a>
                <a href="" class="nav.link">Trending</a>
                <a href="" class="nav.link">Categories</a>
            </nav>
        </div>
    </header>
</body>

<app-cizquierda></app-cizquierda>
<app-cderecha></app-cderecha>
<app-cinferior></app-cinferior>