
<body>
       
    <img class="imagen" src="assets/images/image-web-3-desktop.jpg">

<div class="container">
    <div class="item">
        <h1>The Brihgt <br>Future of <br>Web 3.0?</h1>
        
    </div>
    <div class="item">
        <p align="left">
            we dive into the next evolution of the web that<br>
            claims to put the power of the platforms back<br>
            into the hands of the people. But is it really<br>
            fulfilling its promise?
        </p>
        <input class="boton" type="submit" value="R E A D  M O R E" />
    </div>
</div>
</body>
